$primary-color: cornflowerblue;
$hover-color: indianred;
$secondary-color: gray;

.lastImage {
  filter: brightness(50%);
}

.image {
  max-height: 100%;
  max-width: 100%;
}

.carousel {
  position: absolute;
  visibility: hidden;
}

.lastImageLabel {
  left: 25%;
  top: 40%;
  z-index: 100;
  color: white;
  position: absolute;
}

.listingCarousel {
  position: relative;
}

.listingCarousel:hover + .dotsContainer {
  visibility: visible;
}

.activeImage {
  visibility: visible;
}

.dotsContainer {
  position: relative;
  visibility: hidden;
}

.dot::after {
  content: '';
  width: 100%;
  border: 1px solid lightgray;
  display: inline-block;
  background: lightgray;
}

.dot {
  padding-right: 1px !important;
}

.activeDot::after {
  border-color: $primary-color;
  background: $primary-color;
}

.dotsContainerRow {
  position: absolute;
  width: 100%;
  bottom: 45%;
  padding-left: 10px;
  padding-right: 10px;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: $primary-color;
}

.link:hover {
  color: $hover-color;
}

.price {
  font-weight: bold;
}

.listingAttribute {
  color: $secondary-color;
}

.deliveryPossible {
  width: 32px;
  height: 32px;
}

.deliveryPossible:hover {
  fill: orange;
}