.listing-image-carousel-last-image {
  filter: brightness(50%);
}

.listing-list-item-image-carousel-image {
  max-height: 100%;
  max-width: 100%;
}

.listing-list-item-image-carousel {
  position: absolute;
  visibility: hidden;
}

.listing-carousel-last-image-label {
  left: 50%;
  top: 50%;
  z-index: 100;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
}

.listing-item-wrapper {
  position: relative;
}

.listing-carousel {
  position: relative;
}

.listing-carousel:hover + .listing-image-carousel-dots-container {
  visibility: visible;
}

.listing-list-item-image-carousel-active-image {
  visibility: visible;
}

.listing-image-carousel-dots-container {
  position: relative;
  visibility: hidden;
}

.listing-item-image-carousel-dot::after {
  content: '';
  width: 100%;
  border: 2px solid lightgray;
  display: inline-block;
  background: lightgray;
}

.listing-item-image-carousel-dot-active::after {
  border: 2px solid lightblue;
  background: lightblue;
}

.listing-image-carousel-dots-container-row {
  position: absolute;
  width: 100%;
  bottom: 45%;
}