.listing-image-carousel-last-image {
  filter: brightness(50%);
}

.listing-carousel-last-image-label {
  left: 50%;
  top: 20%;
  z-index: 100;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
}

.listing-image-last-carousel-item {
  position: relative;
  height: 100vh;
}

.listing-list-item {
  height: 20vh;
  margin-bottom: 10vh;
}

.listing-list-item-image-carousel {
  height: 15vh;
}

.carousel .carousel-indicators {
  opacity: 0;
}

.carousel:hover .carousel-indicators {
  opacity: 1;
}